# 实习一:数据库应用案例设计
---
## 组员：陈萧白，凤大骅，万承志

我们的案例是B站，实习内容包括确定业务需求，设计ER图，关系表设计与业务功能实现四部分。

## 一、业务需求
* 用户交互：用户可以关注其他用户，并且可以与其他用户互发私信
* 动态发布与交互：用户可以发布动态，也可以看到其他用户的动态，并可以点赞、评论
* 直播系统：用户可以发起直播，也可以观看其他用户的直播，发送弹幕或送出礼物

## 二、ER图设计

### 1.确定实体
5个强实体：
* **用户**（<u>用户UID</u>，昵称，等级）
* **私信**（<u>私信ID</u>，私信内容，私信时间）
* **动态**（<u>动态ID</u>，动态内容，发布时间）
* **直播间**（<u>房间号</u>，直播间名称，人气）
* **礼物**（<u>礼物ID</u>，礼物名称，礼物价值）

2个弱实体：
* **评论**（<u>评论ID，动态ID</u>，评论内容，发布时间）
* **直播间弹幕**（<u>弹幕ID，房间号</u>，弹幕内容，发送时间）

### 2.实体联系
一对多：
* 用户发送私信，用户接收私信
* 用户发布动态，用户发出评论，评论属于动态
* 用户创建直播间（实际上是一对一的），用户发送直播间弹幕，弹幕属于直播间

多对多：
* 用户关注用户，有关注时间属性
* 用户点赞动态，有点赞时间属性
* 用户进入直播间，有发生时间属性

三元联系：
* 用户给直播间赠送礼物，有时间、数量属性

### 3.ER图
ER图如下（其中弱实体的分辨符使用虚椭圆框与下划线表示）
![ER图](ER.png)

## 三、关系表设计
7个实体外加4个多对多联系共11个关系表，依次创建表并插入数据如下：

In [1]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql
%sql mysql://stu2000012926:stu2000012926@162.105.146.37:53306
%sql use stu2000012926;

 * mysql://stu2000012926:***@162.105.146.37:53306
0 rows affected.

[]

In [2]:
%sql show tables;

 * mysql://stu2000012926:***@162.105.146.37:53306
10 rows affected.

[('Dynamic_state_tb',),
 ('broadcasting_room_tb',),
 ('comment_tb',),
 ('follow_tb',),
 ('gift_tb',),
 ('gifts_record_tb',),
 ('like_Dstate_tb',),
 ('msg_tb',),
 ('user_tb',),
 ('users_in_broom_tb',)]

In [3]:
%%sql
# 1.用户表
set foreign_key_checks=0;

drop table if exists user_tb;

CREATE TABLE user_tb (
    user_uid VARCHAR(20) PRIMARY KEY,
    user_name VARCHAR(20) NOT NULL,
    user_level INT UNSIGNED NOT NULL,
    check(user_level<=6)
);

set foreign_key_checks = 1;

INSERT INTO user_tb VALUES ('355608145','刘二',2);
INSERT INTO user_tb VALUES ('38643744','张三',3);
INSERT INTO user_tb VALUES ('309435','李四',4);
INSERT INTO user_tb VALUES ('1718329','王五',5);

 * mysql://stu2000012926:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [4]:
%%sql
# 2.私信表
set foreign_key_checks=0;

drop table if exists msg_tb;

CREATE TABLE msg_tb (
    msg_id INT PRIMARY KEY,
    msg_content VARCHAR(200) NOT NULL,
    msg_time DATETIME NOT NULL,
    send_user_uid VARCHAR(20) NOT NULL,
    recv_user_uid VARCHAR(20) NOT NULL,
    constraint fk_msg_send foreign key(send_user_uid) references user_tb(user_uid),
    constraint fk_msg_recv foreign key(recv_user_uid) references user_tb(user_uid)
);

set foreign_key_checks = 1;

INSERT INTO msg_tb VALUES (1,'你好1','2023-04-22 11:00:00','355608145','38643744');

 * mysql://stu2000012926:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.

[]

In [5]:
%%sql
# 3.关注表
set foreign_key_checks=0;

drop table if exists follow_tb;

CREATE TABLE follow_tb(
    user_uid_follow VARCHAR(20),
    user_uid_followed VARCHAR(20),
    follow_time DATETIME,
    PRIMARY KEY(user_uid_follow, user_uid_followed),
    constraint fk_follow foreign key(user_uid_follow) references user_tb(user_uid),
    constraint fk_followed foreign key(user_uid_followed) references user_tb(user_uid)
);

set foreign_key_checks = 1;

INSERT INTO follow_tb VALUES ('355608145','38643744','2023-04-22 11:00:00');
INSERT INTO follow_tb VALUES ('38643744','355608145','2023-04-22 11:05:00');
INSERT INTO follow_tb VALUES ('309435','355608145','2023-04-22 12:00:00');
INSERT INTO follow_tb VALUES ('309435','1718329','2023-04-22 12:01:00');
INSERT INTO follow_tb VALUES ('309435','38643744','2023-04-22 12:02:00');
INSERT INTO follow_tb VALUES ('355608145','309435','2023-04-22 13:00:00');

 * mysql://stu2000012926:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [6]:
%%sql
# 4.动态表
set foreign_key_checks=0;

drop table if exists Dynamic_state_tb;

CREATE TABLE Dynamic_state_tb (
    Dynamic_state_id INT PRIMARY KEY,
    Dynamic_state_content VARCHAR(500) NOT NULL,
    Dynamics_state_time DATETIME NOT NULL,
    post_user_uid VARCHAR(20) NOT NULL,
    constraint fk_Dstate_post foreign key(post_user_uid) references user_tb(user_uid)
    
    
);
INSERT INTO Dynamic_state_tb VALUES (1,'马斯克的spaceX在性质上和美国、中国等各国的“官方”航天事业在性质没什么本质区别','2023-04-22 11:00:00','355608145');

set foreign_key_checks = 1;

 * mysql://stu2000012926:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
0 rows affected.

[]

In [7]:
%%sql
# 5.评论表
set foreign_key_checks=0;

drop table if exists comment_tb;

CREATE TABLE comment_tb (
    comment_id int NOT NULL AUTO_INCREMENT,
    comment_user_id VARCHAR(15) NOT NULL,
    Dstate_id int NOT NULL,
    comment_content VARCHAR(50) NOT NULL,
    comment_time DATETIME NOT NULL,
    CONSTRAINT fk_comment FOREIGN KEY(comment_user_id) REFERENCES user_tb (user_uid),
    CONSTRAINT fk_Dstate FOREIGN KEY(Dstate_id) REFERENCES Dynamic_state_tb (Dynamic_state_id),
    PRIMARY KEY(comment_id, Dstate_id) 
);
INSERT INTO comment_tb VALUES (1234,'38643744',1,'感觉你的观点有些许偏激','2023-04-22 11:05:00');
INSERT INTO comment_tb VALUES (5678,'355608145',1,'我觉得说的挺好的','2023-04-22 11:07:00');


set foreign_key_checks = 1;

 * mysql://stu2000012926:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
0 rows affected.

[]

In [8]:
%%sql
# 6.点赞动态表
set foreign_key_checks=0;

drop table if exists like_Dstate_tb;

CREATE TABLE like_Dstate_tb (
    user_uid_like_Dstate VARCHAR(20),
    Dstate_id_beliked int,
    like_Dstate_time DATETIME,
    CONSTRAINT fk_like_user_Dstate FOREIGN KEY(user_uid_like_Dstate) REFERENCES user_tb (user_uid),
    CONSTRAINT fk_like_Dstate FOREIGN KEY(Dstate_id_beliked) REFERENCES Dynamic_state_tb (Dynamic_state_id)
    
);
INSERT INTO like_Dstate_tb VALUES ('38643744',1,'2023-04-22 11:04:00');
INSERT INTO like_Dstate_tb VALUES ('355608145',1,'2023-04-22 11:03:00');
set foreign_key_checks = 1;

 * mysql://stu2000012926:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
0 rows affected.

[]

In [9]:
%%sql
# 7.直播间表
set @@foreign_key_checks=0;

drop table if exists broadcasting_room_tb;

CREATE TABLE broadcasting_room_tb
(
    room_id int PRIMARY KEY AUTO_INCREMENT,
    room_name VARCHAR(30) NOT NULL,
    population int unsigned ,
    host_id VARCHAR(15) NOT NULL,
    CONSTRAINT fk_h FOREIGN KEY(host_id) REFERENCES user_tb (user_uid)
);

set @@foreign_key_checks=1;
INSERT INTO broadcasting_room_tb(room_name, population, host_id) VALUES ('刘二的直播间', 0, '355608145');
INSERT INTO broadcasting_room_tb(room_name, population, host_id) VALUES ('张三的直播间', 0, '38643744');
INSERT INTO broadcasting_room_tb(room_name, population, host_id) VALUES ('李四的直播间', 0, '309435');
INSERT INTO broadcasting_room_tb(room_name, population, host_id) VALUES ('王五的直播间', 0, '1718329');

 * mysql://stu2000012926:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [10]:
%%sql
# 8.礼物表
set @@foreign_key_checks=0;

drop table if exists gift_tb;

CREATE TABLE gift_tb
(
    gift_id int PRIMARY KEY,
    gift_name ENUM('干杯','小花花','小电视飞船','告白气球','草莓蛋糕') NOT NULL,
    gift_val int unsigned NOT NULL
);

set @@foreign_key_checks=1;

INSERT INTO gift_tb VALUES (0, '干杯', 66);
INSERT INTO gift_tb VALUES (1, '小花花', 1);
INSERT INTO gift_tb VALUES (2, '小电视飞船', 29999);
INSERT INTO gift_tb VALUES (3, '告白气球', 2000);
INSERT INTO gift_tb VALUES (4, '草莓蛋糕', 200);

 * mysql://stu2000012926:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [11]:
%%sql
# 9.弹幕表
set @@foreign_key_checks=0;

drop table if exists bullet_comment_tb;

CREATE TABLE bullet_comment_tb
(
    bcomment_id int NOT NULL AUTO_INCREMENT,
    sender_id VARCHAR(15) NOT NULL,
    broom_id int NOT NULL,
    bcontent VARCHAR(50) NOT NULL,
    btime DATETIME NOT NULL,
    CONSTRAINT fk_su FOREIGN KEY(sender_id) REFERENCES user_tb (user_uid),
    CONSTRAINT fk_b FOREIGN KEY(broom_id) REFERENCES broadcasting_room_tb (room_id),
    PRIMARY KEY(bcomment_id, broom_id) 
);

set @@foreign_key_checks=1;

INSERT INTO bullet_comment_tb(sender_id,broom_id,bcontent,btime) VALUES('38643744',1,'你的观点也蛮有意思的','2023-04-22 11:05:00');
INSERT INTO bullet_comment_tb(sender_id,broom_id,bcontent,btime) VALUES('309435',1,'这个说法有失偏颇','2023-04-22 12:05:00');

 * mysql://stu2000012926:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.

[]

In [12]:
%%sql
# 10.进入直播间表
set @@foreign_key_checks=0;

drop table if exists users_in_broom_tb;

CREATE TABLE users_in_broom_tb
(
    cur_user_id VARCHAR(20) NOT NULL,
    cur_room_id int NOT NULL,
    enter_time DATETIME NOT NULL,
    CONSTRAINT fk_cu FOREIGN KEY(cur_user_id) REFERENCES user_tb (user_uid),
    CONSTRAINT fk_cr FOREIGN KEY(cur_room_id) REFERENCES broadcasting_room_tb (room_id),
    PRIMARY KEY(cur_user_id, cur_room_id)
);

set @@foreign_key_checks=1;

 * mysql://stu2000012926:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [13]:
%%sql
# 11.礼物赠送表
set @@foreign_key_checks=0;

drop table if exists gifts_record_tb;

CREATE TABLE gifts_record_tb(
    record_id int PRIMARY KEY AUTO_INCREMENT,
    sender_id VARCHAR(15) NOT NULL,
    send_room_id int NOT NULL,
    send_gift_id int NOT NULL,
    send_time DATETIME NOT NULL,
    gift_amount int unsigned NOT NULL,
    CONSTRAINT fk_s FOREIGN KEY(sender_id) REFERENCES user_tb (user_uid),
    CONSTRAINT fk_r FOREIGN KEY(send_room_id) REFERENCES broadcasting_room_tb (room_id),
    CONSTRAINT fk_g FOREIGN KEY(send_gift_id) REFERENCES gift_tb (gift_id)
);

set @@foreign_key_checks=1;

 * mysql://stu2000012926:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

## 四、业务功能实现
使用PyMySql，模拟具体业务场景，如下：

In [14]:
db = pymysql.connect(host='162.105.146.37',user='stu2000012926', password='stu2000012926', port=53306,db="stu2000012926")
cursor = db.cursor()

In [15]:
# 查找某人的全部关注

user_name = '李四'
sql = '''
SELECT user_name, user_uid 
FROM user_tb, follow_tb
WHERE follow_tb.user_uid_follow = (SELECT user_uid FROM user_tb WHERE user_name = %s)
AND follow_tb.user_uid_followed = user_tb.user_uid
'''

try:
    cursor.execute(sql, user_name)
    results = cursor.fetchall()
    print('Results:')
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results:
('王五', '1718329')
('刘二', '355608145')
('张三', '38643744')

In [16]:
# 查找某人的全部粉丝

user_name = '张三'
sql = '''
SELECT user_name, user_uid 
FROM user_tb, follow_tb
WHERE follow_tb.user_uid_followed = (SELECT user_uid FROM user_tb WHERE user_name = %s)
AND follow_tb.user_uid_follow = user_tb.user_uid
'''

try:
    cursor.execute(sql, user_name)
    results = cursor.fetchall()
    print('Results:')
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results:
('李四', '309435')
('刘二', '355608145')

In [17]:
# 查找互相关注（格式为userA_uid,userB_uid，其中userA_uid<userB_uid）

sql = '''
SELECT user_uid_follow, user_uid_followed
FROM follow_tb AS A
WHERE exists (SELECT * FROM follow_tb AS B WHERE B.user_uid_followed = A.user_uid_follow and B.user_uid_follow = A.user_uid_followed)
AND user_uid_follow<user_uid_followed
'''

try:
    cursor.execute(sql)
    results = cursor.fetchall()
    print('Results:')
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results:
('309435', '355608145')
('355608145', '38643744')

In [18]:
# 发送新消息

msg_id = 2
msg_content = '你好2'
msg_time = '2023-04-22 12:00:00'
send_user_uid = '38643744'
recv_user_uid = '355608145'
sql = 'INSERT INTO msg_tb VALUES (%s, %s, %s, %s, %s)'

try:
    cursor.execute(sql, (msg_id, msg_content, msg_time, send_user_uid, recv_user_uid))
except Exception as e:
    print(e)
    
# 查看发送的新消息

sql = 'SELECT * FROM msg_tb'
try:
    cursor.execute(sql)
    results = cursor.fetchall()
    print('Results After Insertion:')
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results After Insertion:
(1, '你好1', datetime.datetime(2023, 4, 22, 11, 0), '355608145', '38643744')
(2, '你好2', datetime.datetime(2023, 4, 22, 12, 0), '38643744', '355608145')

In [19]:
# 根据用户查找动态

user_name = ''
sql = 'SELECT Dynamic_state_id FROM user_tb,Dynamic_state_tb WHERE user_tb.user_name=%s and user_tb.user_uid=Dynamic_state_tb.poster_user_id'

try:
    cursor.execute(sql,user_name)
    results = cursor.fetchall()
    print('Results:', results)
    for row in results:
        print(row)
except Exception as e:
    print(e)

(1054, "Unknown column 'Dynamic_state_tb.poster_user_id' in 'where clause'")

In [20]:
#查看动态内容
Dstate_id = ''
sql = 'SELECT Dynamic_state_content FROM Dynamic_state_tb WHERE Dynamic_state_id = %s'

try:
    cursor.execute(sql,Dstate_id)
    results = cursor.fetchall()
    print('Results:', results)
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results: ()

In [21]:
#查看动态点赞情况（评论同理）（未完成）
Dstate_id = ''
sql = 'SELECT Dynamic_state_content FROM Dynamic_state_tb WHERE Dynamic_state_id = %s'

try:
    cursor.execute(sql,Dstate_id)
    results = cursor.fetchall()
    print('Results:', results)
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results: ()

In [22]:
#用户评论动态

In [23]:
#用户点赞动态

In [24]:
# 根据用户查找直播间

user_name = '刘二'
sql = 'SELECT room_id, room_name FROM user_tb,broadcasting_room_tb WHERE user_tb.user_name=%s and user_tb.user_uid=broadcasting_room_tb.host_id'

try:
    cursor.execute(sql,user_name)
    results = cursor.fetchall()
    print('Results:')
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results:
(1, '刘二的直播间')

In [25]:
# 查看直播间的人气

room_id = '1'
sql = 'SELECT room_name, population FROM broadcasting_room_tb WHERE room_id = %s'

try:
    cursor.execute(sql,room_id)
    results = cursor.fetchall()
    print('Results:')
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results:
('刘二的直播间', 0)

In [26]:
# 用户进入直播间

user_id, room_id, enter_time = '1718329','1','2023-04-22 12:00:00'

# 先检查用户是否在直播间
sql_1= 'SELECT * FROM users_in_broom_tb WHERE cur_user_id = %s AND cur_room_id = %s'
sql_2='SELECT found_rows()'


try:
    cursor.execute(sql_1, (user_id, room_id))
except Exception as e:
    print(e)
    
try:
    cursor.execute(sql_2)
    results = cursor.fetchall()
    if results[0][0] == 0:
        
        sql_1 = 'INSERT INTO users_in_broom_tb VALUES(%s,%s,%s)'
        sql_2 = 'UPDATE broadcasting_room_tb SET population = population + 1'

        try:
            cursor.execute(sql_1,(user_id,room_id,enter_time))
            db.commit()
        except:
            db.rollback()
            
        try:
            cursor.execute(sql_2)
            db.commit()
        except:
            db.rollback()
        
except Exception as e:
    print(e)
    


    
# 查看直播间当前用户

sql = 'SELECT user_uid, user_name, enter_time FROM user_tb, users_in_broom_tb WHERE cur_user_id = user_uid AND cur_room_id = %s'
try:
    cursor.execute(sql, room_id)
    results = cursor.fetchall()
    print('Results After Insertion:')
    for row in results:
        print(row)
except Exception as e:
    print(e)
    
# 查看直播间当前人气
sql = 'SELECT room_name, population FROM broadcasting_room_tb WHERE room_id = %s'

try:
    cursor.execute(sql,room_id)
    results = cursor.fetchall()
    print('Results:')
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results After Insertion:
('1718329', '王五', datetime.datetime(2023, 4, 22, 12, 0))
Results:
('刘二的直播间', 1)

In [27]:
# 用户离开直播间

user_id, room_id = '1718329','1'

# 先检查用户是否在直播间
sql_1= 'SELECT * FROM users_in_broom_tb WHERE cur_user_id = %s AND cur_room_id = %s'
sql_2='SELECT found_rows()'


try:
    cursor.execute(sql_1, (user_id, room_id))
except Exception as e:
    print(e)
    
try:
    cursor.execute(sql_2)
    results = cursor.fetchall()
    if results[0][0] != 0:
        
        sql_1 = 'DELETE FROM users_in_broom_tb WHERE cur_user_id = %s and cur_room_id = %s'
        sql_2 = 'UPDATE broadcasting_room_tb SET population = population - 1'

        try:
            cursor.execute(sql_1,(user_id,room_id))
            db.commit()
        except:
            db.rollback()
            
        try:
            cursor.execute(sql_2)
            db.commit()
        except:
            db.rollback()
        
except Exception as e:
    print(e)

# 查看直播间当前用户

sql = 'SELECT user_uid, user_name, enter_time FROM user_tb, users_in_broom_tb WHERE cur_user_id = user_uid AND cur_room_id = %s'
try:
    cursor.execute(sql, room_id)
    results = cursor.fetchall()
    print('Results After Deletion:')
    for row in results:
        print(row)
except Exception as e:
    print(e)
    
# 查看直播间当前人气
sql = 'SELECT room_name, population FROM broadcasting_room_tb WHERE room_id = %s'

try:
    cursor.execute(sql,room_id)
    results = cursor.fetchall()
    print('Results:')
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results After Deletion:
Results:
('刘二的直播间', 0)

In [28]:
# 用户送礼物

user_id, room_id, gift_id, send_time, gift_amount = '1718329','1','1','2023-04-22 12:00:00','6'
sql = 'INSERT INTO gifts_record_tb(sender_id, send_room_id, send_gift_id, send_time, gift_amount) VALUES(%s,%s,%s,%s,%s)'

try:
    cursor.execute(sql,(user_id, room_id, gift_id, send_time, gift_amount))
    db.commit()
except:
    db.rollback()

# 查看直播间的礼物
sql = 'SELECT user_uid, user_name, gift_name, gift_amount, send_time FROM user_tb, gift_tb, gifts_record_tb \
       WHERE sender_id = user_uid AND send_room_id = %s AND gift_id = send_gift_id'

try:
    cursor.execute(sql, room_id)
    results = cursor.fetchall()
    print('Results:')
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results:
('1718329', '王五', '小花花', 6, datetime.datetime(2023, 4, 22, 12, 0))

In [29]:
# 用户发弹幕

user_id, room_id, content, send_time = '1718329','1','你好','2023-04-22 12:00:00'
sql = 'INSERT INTO bullet_comment_tb(sender_id,broom_id,bcontent,btime) VALUES(%s,%s,%s,%s)'

try:
    cursor.execute(sql,(user_id, room_id, content, send_time))
    db.commit()
except:
    db.rollback()
    
# 查看直播间当前弹幕列表

sql = 'SELECT user_uid, user_name, bcontent, btime FROM user_tb, bullet_comment_tb WHERE sender_id = user_uid AND broom_id = %s'
try:
    cursor.execute(sql, room_id)
    results = cursor.fetchall()
    print('Results After Insertion:')
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results After Insertion:
('1718329', '王五', '你好', datetime.datetime(2023, 4, 22, 12, 0))
('309435', '李四', '这个说法有失偏颇', datetime.datetime(2023, 4, 22, 12, 5))
('38643744', '张三', '你的观点也蛮有意思的', datetime.datetime(2023, 4, 22, 11, 5))