# 实习一:数据库应用案例设计
---
## 组员：陈萧白，凤大骅，万承志

我们的案例是B站，实习内容包括确定业务需求，设计ER图，关系表设计与业务功能实现四部分。

## 一、业务需求
* 用户交互：用户可以关注其他用户，并且可以与其他用户互发私信
* 动态发布与交互：用户可以发布动态，也可以看到其他用户的动态，并可以点赞、评论
* 直播系统：用户可以发起直播，也可以观看其他用户的直播，发送弹幕或送出礼物

## 二、ER图设计

### 1.确定实体
4个强实体：
* **用户**（<u>用户UID</u>，昵称，等级）
* **私信**（<u>私信ID</u>，私信内容，私信时间）
* **动态**（<u>动态ID</u>，动态内容，发布时间）
* **直播间**（<u>房间号</u>，直播间名称，人气）
* **礼物**（<u>礼物ID</u>，礼物名称，礼物价值）

2个弱实体：
* **评论**（<u>评论ID，动态ID</u>，评论内容，发布时间）
* **直播间弹幕**（<u>弹幕ID，房间号</u>，弹幕内容，发送时间）

### 2.实体联系
一对多：
* 用户发送私信，用户接收私信
* 用户发布动态，用户发出评论，评论属于动态
* 用户创建直播间（实际上是一对一的），用户发送直播间弹幕，弹幕属于直播间

多对多：
* 用户关注用户，有关注时间属性
* 用户点赞动态，有点赞时间属性
* 用户进入直播间，有发生时间属性

三元联系：
* 用户给直播间赠送礼物，有时间、数量属性

### 3.ER图
ER图如下（其中弱实体的分辨符使用虚椭圆框与下划线表示）
![ER图](ER.png)

## 三、关系表设计

In [1]:
%load_ext sql
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2000012965:stu2000012965@162.105.146.37:53306
            
%sql use stu2000012965;

%sql show tables;

 * mysql://stu2000012965:***@162.105.146.37:53306
0 rows affected.
 * mysql://stu2000012965:***@162.105.146.37:53306
4 rows affected.

[('broadcasting_room_tb',),
 ('bullet_comment_tb',),
 ('gift_tb',),
 ('send_gifts_tb',)]

In [36]:
%%sql

set @@foreign_key_checks=0;

drop table if exists broadcasting_room_tb;

CREATE TABLE broadcasting_room_tb
(
    room_id int PRIMARY KEY AUTO_INCREMENT,
    room_name VARCHAR(30) NOT NULL,
    population int unsigned ,
    host_id VARCHAR(15) NOT NULL,
    CONSTRAINT fk_h FOREIGN KEY(host_id) REFERENCES user_tb (user_uid)
);

set @@foreign_key_checks=1;

 * mysql://stu2000012965:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [38]:
%%sql

set @@foreign_key_checks=0;

drop table if exists gift_tb;

CREATE TABLE gift_tb
(
    gift_id int PRIMARY KEY AUTO_INCREMENT,
    gift_name ENUM('干杯','小花花','小电视飞船','告白气球','草莓蛋糕') NOT NULL,
    gift_val int unsigned NOT NULL
);

set @@foreign_key_checks=1;

 * mysql://stu2000012965:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [47]:
%%sql

set @@foreign_key_checks=0;

drop table if exists bullet_comment_tb;

CREATE TABLE bullet_comment_tb
(
    bcomment_id int NOT NULL AUTO_INCREMENT,
    sender_id VARCHAR(15) NOT NULL,
    broom_id int NOT NULL,
    bcontent VARCHAR(50) NOT NULL,
    btime DATETIME NOT NULL,
    CONSTRAINT fk_su FOREIGN KEY(sender_id) REFERENCES user_tb (user_uid),
    CONSTRAINT fk_b FOREIGN KEY(broom_id) REFERENCES broadcasting_room_tb (room_id),
    PRIMARY KEY(bcomment_id, broom_id) 
);

set @@foreign_key_checks=1;

 * mysql://stu2000012965:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [42]:
%%sql

set @@foreign_key_checks=0;

drop table if exists users_in_broom_tb;

CREATE TABLE users_in_broom_tb
(
    cur_user_id int NOT NULL,
    cur_room_id int NOT NULL,
    enter_time DATETIME NOT NULL,
    CONSTRAINT fk_cu FOREIGN KEY(cur_user_id) REFERENCES user_tb (user_uid),
    CONSTRAINT fk_cr FOREIGN KEY(cur_room_id) REFERENCES broadcasting_room_tb (room_id),
    PRIMARY KEY(cur_user_id, cur_room_id)
);

set @@foreign_key_checks=1;

 * mysql://stu2000012965:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [44]:
%%sql

set @@foreign_key_checks=0;

drop table if exists gifts_record_tb;

CREATE TABLE gifts_record_tb(
    record_id int PRIMARY KEY AUTO_INCREMENT,
    sender_id VARCHAR(15) NOT NULL,
    send_room_id int NOT NULL,
    send_gift_id int NOT NULL,
    send_time DATETIME NOT NULL,
    gift_amount int unsigned NOT NULL,
    CONSTRAINT fk_s FOREIGN KEY(sender_id) REFERENCES user_tb (user_uid),
    CONSTRAINT fk_r FOREIGN KEY(send_room_id) REFERENCES broadcasting_room_tb (room_id),
    CONSTRAINT fk_g FOREIGN KEY(send_gift_id) REFERENCES gift_tb (gift_id)
);

set @@foreign_key_checks=1;

 * mysql://stu2000012965:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [7]:
db = pymysql.connect(host='162.105.146.37',user='stu2000012965', password='stu2000012965', port=53306,db="stu2000012965")
cursor = db.cursor()

In [8]:
# 根据用户查找直播间

user_name = ''
sql = 'SELECT room_id FROM broadcasting_room_tb,user_tb WHERE user_tb.user_name=%s and user_tb.user_uid=broadcasting_room_tb.host_id'

try:
    cursor.execute(sql,user_name)
    results = cursor.fetchall()
    print('Results:', results)
    for row in results:
        print(row)
except Exception as e:
    print(e)

(1146, "Table 'stu2000012965.user_tb' doesn't exist")

In [45]:
# 查看直播间的人气

room_id = ''
sql = 'SELECT population FROM broadcasting_room_tb WHERE room_id = %s'

try:
    cursor.execute(sql,room_id)
    results = cursor.fetchall()
    print('Results:', results)
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results: ()

In [14]:
# 用户进入直播间

user_id, room_id, enter_time = '','',''

sql_1 = 'INSERT INTO users_in_broom_tb VALUES(%s,%s,%s)'
sql_2 = 'UPDATE broadcasting_room_tb SET population=population+1'

try:
    cursor.execute(sql_1,(user_id,room_id,enter_time))
    db.commit()
except:
    db.rollback()
    
try:
    cursor.execute(sql_2)
    db.commit()
except:
    db.rollback()

In [15]:
# 用户离开直播间

user_id, room_id = '',''

sql_1 = 'DELETE FROM users_in_broom_tb WHERE cur_user_id=%s and cur_room_id= %s'
sql_2 = 'UPDATE broadcasting_room_tb SET population=population-1'

try:
    cursor.execute(sql_1,(user_id,room_id))
    db.commit()
except:
    db.rollback()
    
try:
    cursor.execute(sql_2)
    db.commit()
except:
    db.rollback()

In [46]:
# 用户送礼物

user_id, room_id, gift_id, send_time, gift_amount = '','','','',''
sql = 'INSERT INTO gift_record_tb(sender_id, send_room_id, send_gift_id,send_time,gift_amount) VALUES(%s,%s,%s,%s,%s)'

try:
    cursor.execute(sql,(user_id, room_id, gift_id, send_time, gift_amount))
    db.commit()
except:
    db.rollback()

In [48]:
# 用户发弹幕

user_id, room_id, content, send_time = '','','',''
sql = 'INSERT INTO bullet_comment_tb(sender_id,broom_id,bcontent,btime) VALUES(%s,%s,%s,%s)'

try:
    cursor.execute(sql,(user_id, room_id, content, send_time))
    db.commit()
except:
    db.rollback()